<article>
    <h2><a href="{{ url }}">{{ title }} </a></h2>

    <div class="row">
        <div class="group1 col-sm-12">
            {{#each tags}}
                <a class="tag badge badge-primary" href="/tags/{{ this }}.html">{{ this }}</a>
            {{/each}}
            by {{ author }} - {{ date }}
        </div>
    </div>

    <hr>
    {{{ content }}}
    <hr>
</article>
